USE AimsTransfer
SELECT DISTINCT gls.SRCE_DOC_NUM
  FROM dbo.GL_LINK_SQL gls
  WHERE gls.BTCH_SRCE ='O/E'
  AND SUBSTRING(gls.SRCE_DOC_PATH,13,4) = '2013'

  SELECT SUM(sds.EXT)
  FROM dbo.SA_DETD_SQL sds
  WHERE sds.INV_NUM IN (SELECT DISTINCT gls.SRCE_DOC_NUM
  FROM dbo.GL_LINK_SQL gls
  WHERE gls.BTCH_SRCE ='O/E'
  AND SUBSTRING(gls.SRCE_DOC_PATH,13,4) = '2013')
  AND YEAR(sds.POST_DATE) = 2013